/exercicios/nbproject/private/
/exercicios/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/exercicicios/nbproject/private/
/porReferencia/nbproject/private/
/porValor/nbproject/private/
/porValor/build/
/porReferencia/build/
/atividadeVetor/nbproject/private/
